<div class="d-flex justify-center pb-4 pt-4">
    <img src="/favicons/favicon.svg" alt="iHospitalUtility" width="75" />
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
    <MudNavLink Href="/appinstall" Match="NavLinkMatch.Prefix">Instalar aplicativo</MudNavLink>
</MudNavMenu>
