<div class="d-flex justify-center pb-8 pt-8">
    <img src="favicon.png" alt="iHospitalUtility" width="200" />
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
</MudNavMenu>